[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
aws-xray-sdk = "==2.6.0"
okdata-sdk = "==0.9.0"
prometheus-client = "==0.8.0"
websockets = "==9.1"

[requires]
python_version = "3.8"

[scripts]
app = "python probe/run_probe.py"
script = "./run.sh"
flake8 = "flake8 --ignore E501 probe/"
black-diff = "black --diff --color probe/"
black = "black probe/"

[pipenv]
allow_prereleases = true
